<html>
    <title>
        Siner's Homepage
    </title>
    <body>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <div>
            <br/>
            <br/>
            <ul>
                <p style="color:blue; font-size:50px;">테스트 페이지 구현중</p>
            </ul>
            <ul>
                <p style="color:mediumpurple; font-size:50px;">인텔봇 가즈아아아아아</p>
            </ul>
            <button style="width:100%; height: 30%; font-size:100px;" type="button" class="btn btn-primary" onclick="location.href='https://ingress.com/intel'">인텔</button>
            <br/>
            <button style="width:100%; height: 30%; font-size:100px;" type="button" class="btn btn-danger"  onclick="location.href='{% url 'statics' %}'">데이터</button>
            <br/>
            <button style="width:100%; height: 30%; font-size:100px;" type="button" class="btn btn-success" onclick="location.href='https://youtu.be/mNkegVPvn6E'">하드</button>
            <br/>
        </div>
    </body>
</html>